<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SuTi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'maps'" routerLinkActive="active">Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="'ticket'" routerLinkActive="active">Ticket</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <router-outlet></router-outlet>
</div>
